:root{
  --dark--color:#19283f;
  --green--color:#33d1cc;
  --red--color:#ff3150;
  --yaeelo--:#ffc400;
  --calmi-white--:#EFF7FA;
}

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@1,900&family=Oswald:wght@500;600;700&display=swap');


body{
  font-family: "Roboto" ,"sans-serif";

  
}
.main-btn{
  background-color:var(--red--color);
color: #fdfdfd;;
padding:0.5rem 1rem;
 transition: 100ms;
 border: 0;
color: var(--yaeelo--);

}

.my-btn{
  text-decoration: none;
  background-image: var(--red--color);
  padding:15px 10px;
  color:var(--yaeelo--)
}

/* strat navbar */
nav{
  color:aliceblue;
  position: absolute;
  width: 100%;
  background: transparent;
}
.navbar{
  position: absolute;
  width: 100%;
  background: transparent;
}
.navbar .navbar-nav .nav-link{
  color:white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover
{
  color:var(--green--color);
}
.navbar .search{
  border-left: 1px solid var(--green--color);
}
.navbar .search svg {
  color: var(--green--color);
}
.navbar .navbar-toggler{
  color:white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler[aria-expanded="true"]{
  border-color: var(--green--color);
}
.navbar .navbar-toggler:focus{
  box-shadow: none;
}
/* end navbar */
/* start landing */
.Landing{
  height: 100vh; 
  position: relative;
  background-size: cover;
  background-image: url(../img/photo-1459666644539-a9755287d6b0.jpg);

}

.Landing img{
  
  width: 31%;
  top: 12%;
  left: 41%;
  z-index: 0;
  position: absolute;

}

/* end landing */

/* strat navbar */
section{
  color:aliceblue;
  position: relative;
  width: 100%;
  color: #414f6b;
  
}
section .centring{
  display: flex;
  padding: 10px;
  
}
.section{
  color: #414f6b;
  width: 100%;
}
.section .navbar-nav .nav-link{
  color: #414f6b;
  
}
.section .navbar-nav .nav-link.active,
.section .navbar-nav .nav-link:focus,
.section .navbar-nav .nav-link:hover
{
  color:var(--green--color);
}
.section .search{
  border-left: 1px solid var(--green--color);
}
.section .search svg {
  color: var(--green--color);
}
.section .navbar-toggler{
  color: #414f6b;
  font-size: 25px;
  border-color: white;
}
.section .navbar-toggler[aria-expanded="true"]{
  border-color: var(--green--color);
}
.nav-item {
  margin-right: 10px;
}
.nav-item a{
  padding: 0;
}
.nav-link {
  padding: 0;
  margin-right: 6px;
  border-bottom: 1px solid;
}
.section .navbar-toggler:focus{
  box-shadow: none;
}
/* end navbar */

/* start History section */
.History{
  height: 98vh; 
  font-family: 'Oswald';
  position: relative;
  background-size: cover;
  background-image: url(../img/peak.jpg);

}
.sconddevs{
  display: flex!important;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: end;
  font-weight: 700;
  align-content: flex-end;
  font-size: 135.5px;
  color: #414f6b;
}
.fo{
  font-size: 135px;
  opacity: 0.5;
  letter-spacing: 0px;

}
.mar{
  margin-bottom: -9rem;
  font-weight:  700;
  font-size: 32px;
  
  color: #414f6b;
}

.History .lorimtext{
  font-family: lato;
    margin-top: 0px;
    font-size: 16px;
}




.History .carousel{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.shadow{
  height: 195px;;
  background-color: #414f6b;
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 80%;
}



.History .caroussel .mbca{
  margin-bottom: 30px;
}
.swiper-pagination-bullet-active{
  background-color: white;
}
.swiper-slide{
  width: 342px;
  display: flex;
  margin-right: 20px;
  justify-content: center;
}
/* end History section */

/* start  the climb section */

.climb .data{
  display: flex;
  align-items: center;
  

}

/* end  the climb section */




/* start MOUNTAINSs section  */
.MOUNTAINSs{
  background-color:#414f6b ;
}
.MOUNTAINSs button{
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;
  background-color: transparent;
  font-family: 'Oswald';
  color: #b0b4be;
  border: 0;
}
.MOUNTAINSs button:hover{
  background-color: #b0b4be;
color: #414f6b;
}
.MOUNTAINSs .btn1:hover{
  color: #b0b4be;
  background-color: transparent;
}
.MOUNTAINSs .btn1{
background-color: #b0b4be;
color: #414f6b;
padding: 5px 15px;
}


/* end MOUNTAINSs section  */

/* start lastsection */
.lastsection{
  width: 100%;
  position: relative;
  text-align: left;
  height: 40.5rem;
background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/CLS/Untitled-1.jpg");
}
.sched{
  padding: 50px;
  width: fit-content;
  color: rgb(0, 0, 0);
  background-color: #fbfbfbb5;
  top: 8rem;
  position: absolute;
}
.sched h3{
  color: #414f6b;
}

.lastsection .lastdata  p{
  font-size: 16px;
  font-family: lato;
  font-weight: lighter;
  display: inline;
  margin: 30px 30px 50px 0px;
  padding: 0 ;
  text-align: left;
  
}
/* end lastsection */

.footer{
  background-color: #414f6b;
}
.footer ul li {
  color: #63769d;
}
.footer .copyr {color: #63769d;}